<div class="app-title">
    <div>
        <h1><i class="fa fa-envelope-o"></i> Mailbox</h1>
    </div>
</div>
<div class="row" ng-init="Init()">
    <div class="col-md-2">
        <div class="tile p-0">
            <h4 class="tile-title folder-head">Folders</h4>
            <div class="tile-body">
                <ul class="nav nav-pills flex-column mail-nav">
                    <li class="nav-item active"><a class="nav-link" href="javascript:void(0);" ng-click="Inbox()"><i class="fa fa-inbox fa-fw"></i> Inbox<span class="badge badge-pill badge-primary float-right">12</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0);" ng-click="Sent()"><i class="fa fa-envelope-o fa-fw"></i> Sent</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0);" ng-click="Tembusan()"><i class="fa fa-envelope-o fa-fw"></i> Tembusan</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="tile">
            <div class="mailbox-controls">
            </div>
            <div class="slide-animate" ng-include="Url"></div>
        </div>
    </div>
</div>